* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.col {
  min-height: 40px;
  float: left;
  padding: 12px;
  box-sizing: border-box;
}

.row::after {
  clear: both;
  display: block;
  content: "";
}

.col12 {
  width: 100%;
}

.col11 {
  width: 91.66%;
}

.col10 {
  width: 83.33%;
}

.col9 {
  width: 75%;
}

.col8 {
  width: 66.67%;
}

.col7 {
  width: 58.33%;
}

.col6 {
  width: 50%;
}

.col5 {
  width: 41.66%;
}

.col4 {
  width: 33.33%;
}

.col3 {
  width: 25%;
}

.col2 {
  width: 16.67%;
}

.col1 {
  width: 8.33%;
}

section {
  position: relative;
  overflow: scroll;
  scroll-behavior: smooth;
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
}

.skillsTitle {
  transform: rotate(-90deg);
  font-size: 70px;
  opacity: 0.2;
  text-shadow: red 3px 2px;
  margin: -80px;
}

.skillSet {
  margin-top: 70px;
}
.skillSet p {
  text-align: right;
  margin: 0 10px;
}

.graph {
  background: #ccc;
  height: 30px;
  border-radius: 40px;
  margin-bottom: 5px;
}

.graph span {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: right;
  border-radius: 40px;
  box-sizing: border-box;
  color: white;
  background: #8295ab;
  padding: 0 10px;
}

.line70 span {
  animation: line70 3s 1;
}

.line75 span {
  animation: line75 3s 1;
}

.line80 span {
  animation: line80 3s 1;
}

.line85 span {
  animation: line85 3s 1;
}

@keyframes line70 {
  0% {
    width: 0;
    color: rgba(255, 255, 255, 0);
  }
  40% {
    color: rgb(255, 255, 255);
  }
  100% {
    width: 70%;
    color: rgb(255, 255, 255);
  }
}
@keyframes line75 {
  0% {
    width: 0;
    color: rgba(255, 255, 255, 0);
  }
  40% {
    color: rgb(255, 255, 255);
  }
  100% {
    width: 75%;
    color: rgb(255, 255, 255);
  }
}
@keyframes line80 {
  0% {
    width: 0;
    color: rgba(255, 255, 255, 0);
  }
  40% {
    color: rgb(255, 255, 255);
  }
  100% {
    width: 80%;
    color: rgb(255, 255, 255);
  }
}
@keyframes line85 {
  0% {
    width: 0;
    color: rgba(255, 255, 255, 0);
  }
  40% {
    color: rgb(255, 255, 255);
  }
  100% {
    width: 85%;
    color: rgb(255, 255, 255);
  }
}
.animateLine {
  animation: line70 3S 1;
  animation: line75 3s 1;
  animation: line80 3s 1;
  animation: line85 3s 1;
}

.worksTitle {
  text-align: center;
  margin-bottom: 20px;
}

.cardContainer {
  position: relative;
  width: 1200px;
  margin: 50px auto;
  margin-top: 70px;
}
.cardContainer .box {
  position: relative;
  width: 270px;
  height: 270px;
  background: #000;
  margin: 15px auto;
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
}
.cardContainer .box .content {
  position: absolute;
  height: calc(100% - 100px);
  top: 100px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}
.cardContainer .box .content a {
  text-decoration: none;
}
.cardContainer .box .content h3 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
}
.cardContainer .box .content p {
  margin: 0;
  padding: 0;
  color: #fff;
}
.cardContainer .box .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 1;
}
.cardContainer .box .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: #fff;
  visibility: hidden;
}

.cardContainer .box:hover .icon {
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.cardContainer .box:hover .icon i {
  font-size: 40px;
  visibility: visible;
}

.cardContainer .box:hover .content {
  top: 100px;
  opacity: 1;
}

.cardContainer .box:nth-child(2n+1) {
  background: #c37466;
}

.cardContainer .box:nth-child(2n+2) {
  background: #a8b6b1;
}

.cardContainer .box:nth-child(1) .icon {
  background-image: url(../img/tandoori.jpg);
  background-position: top;
  background-size: cover;
}

.cardContainer .box:nth-child(2) .icon {
  background-image: url(../img/caucus.jpg);
  background-position: top;
  background-size: cover;
}

.cardContainer .box:nth-child(3) .icon {
  background-image: url(../img/mtruapehu.png);
  background-position: top;
  background-size: cover;
}

.cardContainer .box:nth-child(4) .icon {
  background-image: url(../img/beat.gif);
  background-position: top;
  background-size: cover;
}

.cardContainer .box:nth-child(5) .icon {
  background-image: url(../img/supermarket.png);
  background-position: top;
  background-size: cover;
}

.cardContainer .box:nth-child(6) .icon {
  background-image: url(../img/thread.png);
  background-position: top;
  background-size: cover;
}

.cardContainer .box:nth-child(7) .icon {
  background-image: url(../img/mockup.jpg);
  background-position: top;
  background-size: cover;
}

.cardContainer .box:nth-child(8) .icon {
  background-image: url(../img/receipt.jpg);
  background-position: top;
  background-size: cover;
}

.contactIntro {
  padding-bottom: 20px;
  border-bottom: solid 1px #cecece;
  width: 800px;
}
.contactIntro p {
  padding-top: 15%;
  text-shadow: #5D779C 4px 2px;
  color: silver;
  font-size: 80px;
  font-weight: 100;
}
@media (max-width: 576px) {
  .contactIntro p {
    font-size: 50px;
    padding-left: 10%;
  }
}

.contactBox {
  box-sizing: border-box;
  width: 800px;
  height: 200px;
  display: flex;
  flex-direction: row;
}
.contactBox .column {
  width: 270px;
  height: 170px;
}
.contactBox .column i {
  font-size: 25px;
}
.contactBox .column h5 {
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px 0;
}
.contactBox .column a {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
}
@media (max-width: 576px) {
  .contactBox {
    width: auto;
    flex-direction: column;
    height: 250px;
    margin: 20px;
  }
}

.ti-close {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  font-weight: 600;
}

header {
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  flex-wrap: wrap;
  background-color: white;
  top: 0;
}
header .mLogo {
  display: none;
}
@media (max-width: 576px) {
  header .mLogo {
    display: block;
    max-height: 50px;
    margin-top: 10px;
    margin-left: 10px;
  }
}
header .logo {
  max-height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}
@media (max-width: 576px) {
  header .logo {
    display: none;
  }
}
header .nav {
  align-self: center;
}
header .nav .active {
  display: flex;
}
header .nav ul {
  list-style: none;
  display: flex;
}
@media (max-width: 576px) {
  header .nav ul {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #1d2021;
    display: none;
  }
}
header .nav li {
  float: left;
  padding: 20px;
  text-align: center;
}
@media (max-width: 576px) {
  header .nav li {
    background-color: rgba(0, 0, 0, 0);
  }
}
header .nav li a {
  text-decoration: none;
  font-weight: 600;
  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px;
  color: black;
}
header .nav li a:active, header .nav li a:focus, header .nav li ahover {
  border-bottom: 5px solid #8295ab;
  bottom: -10px;
}
@media (max-width: 576px) {
  header .nav li a {
    color: white;
  }
}
header .toggle {
  display: none;
}
@media (max-width: 576px) {
  header .toggle {
    padding: 10px 20px;
    text-align: right;
    color: white;
    font-size: 30px;
    z-index: 1;
    display: block;
    background-color: #1d2021;
  }
}
@media (max-width: 576px) {
  header {
    width: 100vw;
    background: #1d2021;
    box-sizing: border-box;
    z-index: 2;
  }
}

#home {
  background-image: url(../img/uxbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}
#home .sns {
  bottom: 5%;
  font-size: 18px;
  position: absolute;
  z-index: 0;
  width: 100%;
}
#home .sns ul {
  display: flex;
}
#home .sns ul li {
  list-style: none;
  margin-right: 10px;
}
#home .sns ul li a {
  text-decoration: none;
  color: black;
}
@media (max-width: 576px) {
  #home .sns ul li a {
    color: white;
  }
}
@media (max-width: 576px) {
  #home .sns ul {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 576px) {
  #home {
    background-image: none;
    background-color: #1d2021;
  }
}

#works {
  align-items: baseline !important;
}

#skills, #works, #contact {
  display: flex;
  height: 100% !important;
}

#about, #skills, #works, #contact {
  position: relative;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.text-part {
  width: 65%;
  height: 80%;
}
.text-part h1 {
  font-size: 50px;
}
.text-part p {
  font-size: 24px;
  line-height: 50px;
}

.ml16 {
  color: #402d2d;
  padding: 40px 0;
  font-weight: 800;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  overflow: hidden;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}

.intro {
  text-align: center;
  position: relative;
  top: 30%;
}
.intro p {
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
}
.intro span {
  font-weight: bold;
  font-size: 40px;
}
@media (max-width: 576px) {
  .intro {
    color: white;
  }
}

.skillSet {
  width: 70%;
}

.aboutTitle {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 2px;
  align-self: auto;
  margin-top: 10%;
}
@media (max-width: 576px) {
  .aboutTitle {
    margin-top: 100px;
  }
}

.aboutBox {
  align-items: center;
  padding-top: 7%;
}
.aboutBox h1 {
  font-size: 22px;
  margin: 5% auto;
  max-width: 1000px;
  line-height: 1.8em;
  font-weight: 100;
}
@media (max-width: 576px) {
  .aboutBox h1 {
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 15%;
    padding: 0 5%;
  }
}

footer {
  border-top: solid 1px black;
  background-color: black;
}
footer p {
  color: white;
  padding: 3%;
  text-align: center;
}/*# sourceMappingURL=style.css.map */