.skillsTitle{
  transform: rotate(-90deg);
  font-size: 70px;
  opacity: 0.2;
  text-shadow: red 3px 2px;
  margin: -80px;
}
.skillSet{
  margin-top: 70px;
  p{
    text-align: right;
    margin: 0 10px;
  }
}
.graph{
  background:#ccc;
  height:30px;
  border-radius:40px;
  margin-bottom: 5px;
}
.graph span{
  display:block;
  height:30px;
  line-height:30px;
  text-align: right;
  border-radius:40px;
  box-sizing:border-box;
  color: white;
  background: #8295ab;
  padding: 0 10px;
}
.line70 span{
  animation:line70 3s 1;
  // background:green
}
.line75 span{
  animation:line75 3s 1;
  // background:pink
}
.line80 span{
  animation:line80 3s 1;
  // background:skyblue;
}
.line85 span{
  animation:line85 3s 1;
  // background:yellow;
}
@keyframes line70{
  0%{ width:0; color:rgba(255,255,255,0)}
  40%{ color:rgba(255,255,255,1)}
  100%{ width:70%; color:rgba(255,255,255,1)}
}
@keyframes line75{
  0%{ width:0; color:rgba(255,255,255,0)}
  40%{ color:rgba(255,255,255,1)}
  100%{ width:75%; color:rgba(255,255,255,1)}
}
@keyframes line80{
  0%{ width:0; color:rgba(255,255,255,0)}
  40%{ color:rgba(255,255,255,1)}
  100%{ width:80%; color:rgba(255,255,255,1)}
}
@keyframes line85{
  0%{ width:0; color:rgba(255,255,255,0)}
  40%{ color:rgba(255,255,255,1)}
  100%{ width:85%; color:rgba(255,255,255,1)}
}
