@import 'base';
@import 'variables';
@import 'mixin';
@import 'skill';
@import 'works';
@import 'contact';
.ti-close{
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    font-weight: 600;
}
header{
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  flex-wrap: wrap;
  background-color: white;
  top: 0;
  .mLogo{
    display: none;
    @include respond-to(sm){
      display: block;
      max-height: 50px;
      margin-top: 10px;
      margin-left: 10px;
    }
  }
  .logo {
    max-height: 50px;
    margin-top: 10px;
    margin-left: 10px;
     @include respond-to(sm) {
       display: none;}
  }
  .nav{
    align-self: center;
    .active{
      display: flex;
    }
    ul{
      list-style: none;
      display: flex;
      @include respond-to(sm) {
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        background-color: $gray;
        display: none;
      }
    }
    li{
      float: left;
      padding: 20px;
      text-align: center;
      @include respond-to(sm) {
        background-color: rgba(0, 0, 0, 0);
      }
      a{
        text-decoration: none;
        font-weight: 600;
        text-shadow: rgba(0,0,0,0.1) 1px 1px;
        color: black;
        &:active, &:focus, &hover{
          border-bottom: 5px solid #8295ab;
          bottom: -10px;
        }
        @include respond-to(sm) {
          color: white;
        }
      }
    }
  }
  .toggle{
    display: none;
    @include respond-to(sm) {
      padding: 10px 20px;
      text-align: right;
      color: white;
      font-size: 30px;
      z-index: 1;
      display: block;
      background-color: $gray;

    }
  }
  @include respond-to(sm) {
    width: 100vw;
    background: $gray;
    box-sizing: border-box;
    z-index: 2;
  }
}

#home{
  background-image: url(../img/Sophiebg.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  .sns{
    bottom: 5%;
    font-size: 18px;
    position: absolute;
    z-index: 0;
    width: 100%;
    ul{
      display: flex;
      li{
        list-style: none;
        margin-left: 10px;
        a {
          text-decoration: none;
          color: white;
          @include respond-to(sm) {
            color: white;
          }
        }
      }
      @include respond-to(sm){
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
  }
  @include respond-to(sm) {
    background-image: url(../img/sophiembbg.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    // background-color:$gray;
  }
}
#works{
  align-items: baseline !important;
}
#skills, #works, #contact{
  display: flex;
  height: 100% !important;
}
 #about, #skills, #works, #contact {
  position: relative;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.caption {
  text-align: center;
  padding: 2em;
  margin: 0 auto;
  width: 80%;
  line-height: 1.4;
  font-weight: 100;
}
.text-part{
  width: 65%;
  height: 80%;
  h1{
    font-size: 50px;
  }
  p{
    font-size: 24px;
    line-height: 50px;
  }
}
.ml16 {
  color: #402d2d;
  padding: 40px 0;
  font-weight: 800;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  overflow: hidden;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}
// .intro{
//   visibility: hidden;
//   text-align: center;
//   // font-family: 'Share', cursive;
//   position: relative;
//   top:30%;
//   p{
//     font-size: 20px;
//     font-weight: normal;
//     line-height: 30px;
//   }
//   span{
//     font-weight: bold;
//     font-size: 40px;
//   }
//   @include respond-to(sm){
//     color: white;
//     visibility: visible;
//   }
// }

.skillSet{
  width: 70%;
}
.aboutTitle{
  text-align: center;
  font-size: 3rem;
  letter-spacing: 2px;
  align-self: auto;
  margin-top: 10%;
  @include respond-to(sm){
    margin-top: 100px;
  }
}
.aboutBox{
  align-items: center;
  // padding-top:7%;
   h1{
      font-size: 22px;
      margin: 5% auto;
      max-width: 1000px;
      line-height: 1.8em;
      font-weight: 100;
      // animation: 2s ease-in 1 letter;
      @include respond-to(sm){
        font-size: 1rem;
        line-height: 2rem;
        margin-top:15%;
        padding: 0 5%;
      }
  }
}
// @keyframes letter{
//   0%{ letter-spacing: 2rem}
//   100%{ letter-spacing: 5px}
// }

footer{
  border-top: solid 1px black;
  background-color: black;
  p{
    color: white;
    padding: 3%;
    text-align: center;
  }
}
